@font-face {
    font-family: Pompadur;
    src: url(../fonts/20264.otf);
}

@font-face {
    font-family: krug;
    src: url(../fonts/Manrope-SemiBold.ttf);
}

header {
    background-color: #ffa296;
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
}

header>span,
header>div>span {
    margin: auto;
    font-family: krug;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hoverspan:hover {
    transform: scale(1.2);
}

header>.logo {
    margin-left: 10px;
    font-family: Pompadur;
    font-size: 30px;
}
